menu "Example Configuration"

    config WIFI_SSID 
        string "WiFi SSID"
        default "Ten wifi"
        help
            The SSID of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "Mat Khau"
        help
            The password of the WiFi network to connect to.

endmenu
