menu "Example Configuration"

    config WIFI_SSID 
        string "WiFi SSID"
        default "Ten wifi"
        help
            The SSID of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "Mat Khau"
        help
            The password of the WiFi network to connect to.

    config MAX_TIMEOUT
        int "Max timeout"
        default 10000
        help 
            Max timeout for peripheral
    
    config MICROPHONE_RECV_BUF_SIZE
        int "Microphone buffer size"
        default 2400
        help
            Receiver buffer array size when using microphone

    config SAMPLE_RATE
        int "Sample rate"
        default 16000
        help
            Sample rate of microphone
    
    config SAMPLE_BITS
        int "Sample bits"
        default 16
        help
            Sample bits of microphone

endmenu
