menu "Example Configuration"

    config WIFI_SSID 
        string "WiFi SSID"
        default "Tang 3"
        help
            The SSID of the WiFi network to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "so15quyetthang"
        help
            The password of the WiFi network to connect to.
    
    config MAX_TIMEOUT
        int "Max timeout"
        default 10000
        help 
            Max timeout for peripheral
    
    config BUFFER_SIZE 
        int "Buffer size"
        default 1024
        help
            Receiver buffer array size
    
    config SAMPLE_RATE
        int "Sample rate"
        default 44100 
        help
            Sample rate of microphone
    
    config SAMPLE_BITS
        int "Sample bits"
        default 16
        help
            Sample bits of microphone
    
    config WS_URI
        string "Websocket URI"
        default "ws://192.168.1.6:8080"
        help
            Websocket URI to connect to server

    config VTS_UDP_SERVER_IP
        string "VTS UDP server IP"
        default "192.168.1.6"
        help
            IP address of voice to server server

    config VTS_UDP_SERVER_PORT
        int "VTS UDP sever port"
        default 3000
        help
            UDP port to send data to voice to server server


endmenu
